@import './fonts.scss', './common/AuthLayout.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'OpenSans';
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button, input, textarea {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.container {
    flex-grow: 1;
    padding: 39px 60px 39px 64px;
}